footer{
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
}

img{
    max-width: 370px;
}
header{ 
    font-family: 'Open Sans', sans-serif;
    background-color: #fcdb01;
}
body{
    font-family: 'Open Sans', sans-serif;
   
}
