@media (min-width: 320px) {

  
    body {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        background-color: #ebebeb;
    }

    *{
        margin: 0;
        box-sizing: border-box
    }
     
    /*HEADER*/
    .img__banner{
        width: 100%
    }
    .header__logo__search-var{
        padding: 20px;
        display: flex;
        align-items: center;
    }
    header input{
        width: 50%;
        border: none;
        border-radius: 3px;
        margin-left: 10px;
    }
    header {
        background-color: #EAC926;
        padding-bottom: 10px;
    }
    header i {
        color: black;
    }
    ol {
        list-style-type: none;
    }

    /*MAIN*/

    .main__section {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .section__h2__ofers{
        margin-bottom: 50px;
    }
    .main__section__article i{
        position:absolute;
        font-size: 16px;
        padding: 5px;
        right: 30px;
        top: -15px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        border-radius: 50% ;
        background-color: white;
        transition: 1s;
    }

    .main__section__article:hover i{
        transform: rotate(360deg) ;
        box-shadow: 0 0 5px rgba(93, 201, 31, 0.5);
    }
    
    .site {
        display: none;
    }

    .login {
        display: none;
    }

    div img {
        width: 47%;
    }


    a{
        text-decoration: none;
        padding-left: 5px;
        padding-right: 2px;
        color: black;
    }

    footer i {
        font-size: 2em;
        margin-bottom: 10px;
        color: #1259c3;
    }

    article {
        width: 300px;
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 8px;
    }

    article i {
        color: #39b54a;
    }
    

    .main__section__article {
        align-self: flex-start;
        border-radius: 10px;
      }

    .main__section__article p {
      padding-left: 8px;
    }
    .div_article h4 {
        padding-left: 10px;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .main__section__article:hover h4 {
       height: 40px;
       transition: 0.5s;
    }

    footer {
        text-align: center;
    }

    .main__section__h2 {
        font-size: 24px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        color: rgb(94, 93, 93);
    }

    .precio {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .descuento {
        font-size: 16px;
        color: #39b54a;
    }

    .compra {
        margin-top: 30px;
        text-align: center;
    }

    .div_article {
        border-top: solid 1px #ebebeb;
        position: relative;
    }

    .hamburguesa {
        text-align: center;
    }

   
}

@media (min-width: 768px) {

    a {
        margin-left: 6px;
    }
    header input{
        display: none;
    }

    header input {
        display: block;
    }

    
    .main__section__article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header__logo {
        display: flex;
        align-items: center;
    }

    header div {
        display: inline-block
    }

    header section {
        justify-content: space-between;
    }

    li {
        display: inline-block;
    }

    .main__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__h2__ofers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .login {
        display: block;
    }

    .div__site {
        margin-right: 130px;
    }

    .site {
        display: block;
    }

    .hamburguesa {
        display: none;
    }
    .img__banner{
        width: 100%;
    }
    .compra{
        margin-top: 0px;
        font-size: 15px;
    }

    article {
        width: 300px;
        padding-bottom: 10px;
        margin: 10px;
    }

    footer {
        text-align: center;
        display: flex;
    }

    article i {
      
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .main__section {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        height: 300px;
        margin-bottom: 50px;
    }

    .section__h2__ofers {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        height: 300px;
        margin-bottom: 50px;
    }

    .footer{
        display: flex;
        padding-top: 70px;
    }

    .footer i:hover{
        transition: 1s;
        color: rgb(197, 197, 5)
    }

    header a{
        font-size: 14px;
    }
    article {
        width: 230px;
    }
    div img{
        width: 340px;
    }
    .div__site{
        margin-right: 270px;
    }
    .section__h2__ofers {
        display: flex;
        flex-wrap: wrap;
    }

}